.row {
}

.s12 {
  text-align: center;
}

.l3 {
  text-align: center;
  background: rgba(0, 188, 212, .5);
  margin: 2px 0px 2px 0px;
  padding: 0;
  height: 120px;
  border: rgba(250,128,114, 0.8) solid 7px;
  border-radius: 20px;
}

header {
  margin-bottom: 10px
}

.brand-logo {
  margin-left: 10px;
}

body {
  background-image: url("../images/waterfall.jpg");
  background-repeat: no-repeat;
  background-position: cover;
  background-attachment: fixed;
  background-size: cover;
}
